# Отчет

## Импорт библиотек и открытие данных

In [1]:
import numpy as np
from prepare_report import knapsack_report, salesman_report
from prepare_report import res_table_salesman, res_table_knapsack
from data.get_branches import get_salesman, get_knapsack

In [ ]:
!unzip /content/genetic

In [2]:
capacity, profits, weights, optimal = get_knapsack('data/benchmarks/')
graph = get_salesman('data/output_graphs.npy')

## Результаты knapsack 0-1

In [ ]:
total_time = []
for i in range(10):
    time_knapsack, weight_knapsack,profit_knapsack, id_knapsack = knapsack_report(capacity, weights, profits)
    total_time.append(time_knapsack)

In [ ]:
total_time = np.array(total_time)
total_time = np.mean(total_time, axis=0)

In [ ]:
res_table_knapsack(sorted(capacity.keys()), total_time, 
                   weight_knapsack, profit_knapsack, 
                   id_knapsack)

,p01,p02,p03,p04,p05,p06,p07
Weight,165,26,190,50,104,169,749
Profit,309,51,150,107,900,1735,1458
Time,0.079288,0.061499,0.061475,0.067658,0.064515,0.067684,0.080929
ID,"[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]","[0, 1, 1, 1, 0]","[1, 1, 0, 0, 1, 0]","[1, 0, 0, 1, 0, 0, 0]","[1, 0, 1, 1, 1, 0, 1, 1]","[0, 1, 0, 1, 0, 0, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]"

**Предыдущая таблица (лаб2)**

| Рюкзаки\Ответ 	| Вес 	| Стоимость 	| Время 	| ID 	|
|---|---|---|---|---|
| p01 	| 165   	| 309   	| 0.001335 	| [1, 1, 1, 1, 0, 1, 0, 0, 0, 0] 	|
| p02 	| 26    	| 51    	| 0.000094 	| [0, 1, 1, 1, 0] 	|
| p03 	| 190   	| 150    	| 0.001033  	| [1, 1, 0, 0, 1, 0] 	|
| p04 	| 50    	| 107    	| 0.000238  	| [1, 0, 0, 1, 0, 0] 	|
| p05 	| 104   	| 900   	| 0.000658  	| [1, 0, 1, 1, 1, 0, 1, 1] 	|
| p06 	| 169   	| 1735   	| 0.000863 	| [0, 1, 0, 1, 0, 0, 1] 	|
| p07 	| 749   	| 1458   	| 0.010723 	| [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1] 	|

## Результаты коммивояжер

In [3]:
sorted_keys = ['gr17', 'bays29', 'att48', 'ch150', 'a280', 'fl417']
# paramet = {'gr17': (100, 3_000_000, 10, 0.2), 'bays29': (100, 3_000_000, 10, 0.2), 
#           'att48': (100, 2_000_000, 10, 0.2), 'ch150': (100, 1_000_000, 10, 0.2),
#           'a280': (100, 700_000, 10, 0.2), 'fl417': (100, 500_000, 10, 0.2)}
paramet = {'gr17': (100, 10_000, 20), 'bays29': (100, 100_000, 20), 
          'att48': (100, 100_000, 20), 'ch150': (100, 100_000, 20),
          'a280': (100, 100_000, 20), 'fl417': (100, 100_000, 20)}

In [4]:
time_salesman = []
weight_salesman = []
way_salesman = []
answer_salesman = []

In [5]:
for i in sorted_keys:
    result = salesman_report(graph[i], paramet[i]) 
    
    time_salesman.append(result[3])
    weight_salesman.append(result[1])
    way_salesman.append(result[0])
    answer_salesman.append(result[2])
    
    print(f"{i}: {result[1]} vs {result[2]}")

100%|████████████████████████████████████| 10000/10000 [00:20<00:00, 488.74it/s]

gr17: 2085.0 vs 2085.0

100%|██████████████████████████████████| 100000/100000 [04:23<00:00, 379.30it/s]

bays29: 2092.0 vs 2020.0

100%|██████████████████████████████████| 100000/100000 [06:16<00:00, 265.26it/s]

att48: 12474.0 vs 10628.0

100%|██████████████████████████████████| 100000/100000 [14:28<00:00, 115.11it/s]

ch150: 10136.481391191483 vs 6528.0

100%|███████████████████████████████████| 100000/100000 [24:19<00:00, 68.52it/s]

a280: 2799.3609828948975 vs 2579.0

100%|███████████████████████████████████| 100000/100000 [35:46<00:00, 46.59it/s]

fl417: 29613.841302871704 vs 11861.0

In [6]:
res_table_salesman(sorted_keys, time_salesman, 
          weight_salesman, answer_salesman, way_salesman)

,gr17,bays29,att48,ch150,a280,fl417
Weight,2085.0,2092.0,12474.0,10136.481391,2799.360983,29613.841303
True answer,2085.0,2020.0,10628.0,6528.0,2579.0,11861.0
Time,20.790627,264.532747,380.00275,906.350482,1497.321867,2181.376102
Way,"[2, 10, 9, 1, 4, 8, 11, 15, 0, 3, 12, 6, 7, 5,...","[7, 26, 22, 6, 24, 12, 20, 0, 27, 5, 11, 8, 4,...","[25, 3, 34, 44, 9, 23, 47, 4, 22, 42, 16, 26, ...","[47, 72, 75, 33, 86, 0, 81, 94, 106, 102, 97, ...","[1, 279, 0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1...","[7, 0, 9, 15, 20, 19, 12, 1, 3, 2, 8, 10, 14, ..."

In [7]:
for i in way_salesman:
    print(i)

[2, 10, 9, 1, 4, 8, 11, 15, 0, 3, 12, 6, 7, 5, 16, 13, 14]
[7, 26, 22, 6, 24, 12, 20, 0, 27, 5, 11, 8, 4, 25, 28, 2, 1, 19, 9, 3, 14, 17, 16, 13, 21, 10, 18, 15, 23]
[25, 3, 34, 44, 9, 23, 47, 4, 22, 42, 16, 26, 18, 36, 5, 29, 27, 35, 6, 17, 43, 30, 37, 7, 21, 2, 13, 12, 24, 38, 31, 20, 46, 19, 32, 45, 14, 11, 10, 39, 8, 0, 15, 40, 33, 28, 1, 41]
[47, 72, 75, 33, 86, 0, 81, 94, 106, 102, 97, 6, 83, 7, 123, 96, 4, 99, 142, 84, 131, 136, 101, 113, 98, 18, 36, 1, 107, 69, 134, 49, 85, 28, 80, 57, 54, 64, 141, 17, 74, 25, 145, 55, 82, 140, 24, 119, 41, 46, 109, 19, 50, 42, 59, 65, 16, 139, 116, 128, 144, 63, 43, 111, 135, 12, 105, 90, 118, 67, 127, 44, 70, 58, 91, 53, 137, 45, 89, 92, 34, 88, 29, 95, 51, 110, 15, 132, 76, 121, 13, 79, 71, 73, 122, 30, 26, 143, 146, 48, 100, 126, 68, 35, 117, 23, 11, 38, 56, 40, 37, 22, 31, 66, 115, 129, 147, 10, 60, 39, 52, 108, 133, 32, 125, 104, 130, 138, 27, 5, 8, 14, 77, 114, 3, 103, 149, 20, 78, 87, 93, 120, 9, 112, 61, 148, 124, 21, 2, 62]
[1, 279, 0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 22, 24, 21, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 155, 152, 154, 153, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 2]
[7, 0, 9, 15, 20, 19, 12, 1, 3, 2, 8, 10, 14, 13, 26, 16, 11, 5, 4, 6, 17, 18, 21, 24, 31, 23, 25, 30, 27, 29, 28, 22, 32, 34, 39, 36, 38, 41, 33, 35, 37, 40, 53, 54, 56, 48, 45, 42, 47, 49, 51, 50, 43, 46, 44, 52, 55, 59, 71, 102, 61, 92, 88, 89, 93, 86, 76, 72, 68, 64, 57, 58, 83, 87, 73, 78, 85, 79, 91, 80, 75, 67, 70, 60, 74, 63, 77, 82, 81, 90, 94, 65, 62, 66, 69, 95, 96, 84, 98, 100, 97, 99, 101, 103, 104, 130, 129, 107, 108, 131, 109, 111, 135, 113, 137, 115, 139, 117, 141, 119, 143, 124, 148, 126, 150, 149, 128, 127, 125, 123, 118, 114, 133, 112, 136, 138, 116, 140, 142, 120, 144, 122, 146, 152, 333, 334, 336, 337, 315, 316, 338, 317, 318, 154, 153, 177, 155, 179, 157, 181, 159, 183, 161, 185, 163, 187, 165, 189, 167, 191, 169, 193, 171, 195, 197, 175, 173, 180, 178, 156, 158, 182, 160, 184, 162, 186, 164, 188, 166, 190, 168, 192, 170, 194, 172, 196, 174, 198, 176, 199, 200, 203, 204, 226, 228, 227, 206, 229, 207, 231, 209, 233, 211, 235, 237, 216, 215, 239, 217, 218, 241, 220, 242, 240, 238, 236, 234, 232, 230, 208, 210, 212, 214, 244, 222, 224, 408, 393, 394, 395, 415, 416, 396, 397, 375, 376, 398, 377, 378, 250, 249, 273, 251, 275, 254, 278, 256, 279, 257, 281, 259, 283, 261, 285, 263, 288, 266, 289, 267, 291, 293, 271, 269, 276, 274, 252, 253, 277, 255, 280, 258, 282, 260, 284, 262, 286, 264, 287, 265, 290, 268, 292, 270, 294, 272, 296, 295, 340, 341, 328, 329, 300, 301, 343, 320, 303, 145, 147, 151, 308, 309, 310, 311, 312, 313, 314, 326, 325, 324, 323, 121, 105, 307, 306, 305, 304, 322, 302, 321, 347, 330, 331, 332, 106, 110, 134, 132, 299, 298, 297, 339, 327, 319, 342, 344, 345, 346, 348, 349, 350, 335, 351, 352, 353, 354, 355, 356, 357, 399, 387, 358, 379, 359, 360, 361, 380, 381, 366, 368, 369, 370, 371, 372, 373, 385, 384, 383, 219, 213, 205, 225, 202, 201, 367, 392, 391, 390, 407, 406, 382, 363, 364, 365, 243, 245, 247, 223, 221, 362, 388, 400, 401, 389, 402, 403, 404, 405, 246, 248, 409, 410, 411, 412, 413, 414, 386, 374]