# Отчет

## Импорт библиотек и открытие данных

In [1]:
import numpy as np
from prepare_report import knapsack_report, salesman_report
from prepare_report import res_table_salesman, res_table_knapsack
from data.get_branches import get_salesman, get_knapsack

In [ ]:
!unzip /content/genetic

In [2]:
capacity, profits, weights, optimal = get_knapsack('data/benchmarks/')
graph = get_salesman('data/output_graphs.npy')

## Результаты knapsack 0-1

In [ ]:
total_time = []
for i in range(10):
    time_knapsack, weight_knapsack,profit_knapsack, id_knapsack = knapsack_report(capacity, weights, profits)
    total_time.append(time_knapsack)

In [39]:
total_time = np.array(total_time)
total_time = np.mean(total_time, axis=0)

In [40]:
res_table_knapsack(sorted(capacity.keys()), total_time, 
                   weight_knapsack, profit_knapsack, 
                   id_knapsack)

,p01,p02,p03,p04,p05,p06,p07
Weight,165,26,190,50,104,169,749
Profit,309,51,150,107,900,1735,1458
Time,0.079288,0.061499,0.061475,0.067658,0.064515,0.067684,0.080929
ID,"[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]","[0, 1, 1, 1, 0]","[1, 1, 0, 0, 1, 0]","[1, 0, 0, 1, 0, 0, 0]","[1, 0, 1, 1, 1, 0, 1, 1]","[0, 1, 0, 1, 0, 0, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]"

**Предыдущая таблица (лаб2)**

| Рюкзаки\Ответ 	| Вес 	| Стоимость 	| Время 	| ID 	|
|---	|---	|---	|---	|---	|
| p01 	| 165   	| 309   	| 0.001335 	| [1, 1, 1, 1, 0, 1, 0, 0, 0, 0] 	|
| p02 	| 26    	| 51    	| 0.000094 	| [0, 1, 1, 1, 0] 	|
| p03 	| 190   	| 150    	| 0.001033  	| [1, 1, 0, 0, 1, 0] 	|
| p04 	| 50    	| 107    	| 0.000238  	| [1, 0, 0, 1, 0, 0] 	|
| p05 	| 104   	| 900   	| 0.000658  	| [1, 0, 1, 1, 1, 0, 1, 1] 	|
| p06 	| 169   	| 1735   	| 0.000863 	| [0, 1, 0, 1, 0, 0, 1] 	|
| p07 	| 749   	| 1458   	| 0.010723 	| [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1] 	|

## Результаты коммивояжер

In [24]:
(150_000, 10, 1_000, 0.5)

(250000, 5, 900)

In [3]:
time_salesman, weight_salesman, way_salesman, answer_salesman = salesman_report(graph)

100%|██████████| 10/10 [36:45<00:00, 220.52s/it]
100%|██████████| 10/10 [42:37<00:00, 255.70s/it]
100%|██████████| 10/10 [38:04<00:00, 228.45s/it]
100%|██████████| 10/10 [36:11<00:00, 217.13s/it]
100%|██████████| 10/10 [52:36<00:00, 315.62s/it]
100%|██████████| 10/10 [38:57<00:00, 233.74s/it]

In [4]:
res_table_salesman(graph.keys(), time_salesman, 
          weight_salesman, answer_salesman, way_salesman)

,gr17,a280,ch150,bays29,fl417,att48
Weight,2491.0,2818.621637,45292.584585,4020.0,55387.192585,34141.0
True answer,2085.0,2579.0,6528.0,2020.0,11861.0,10628.0
Time,2208.527761,2605.435931,2309.991053,2177.366926,3235.97283,2347.727555
Way,"[3, 7, 13, 5, 4, 9, 1, 10, 2, 14, 16, 6, 0, 15...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[17, 92, 99, 135, 22, 109, 27, 94, 42, 147, 13...","[15, 18, 10, 21, 13, 16, 17, 22, 20, 27, 26, 6...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[3, 47, 12, 31, 10, 16, 2, 46, 14, 11, 21, 38,..."

In [5]:
for i in way_salesman:
    print(i)

[3, 7, 13, 5, 4, 9, 1, 10, 2, 14, 16, 6, 0, 15, 11, 8, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279]
[17, 92, 99, 135, 22, 109, 27, 94, 42, 147, 136, 79, 139, 138, 45, 72, 89, 74, 131, 54, 119, 8, 48, 101, 1, 36, 67, 111, 30, 95, 55, 31, 66, 102, 11, 128, 105, 115, 37, 126, 103, 64, 121, 106, 61, 88, 6, 21, 43, 100, 85, 107, 82, 125, 96, 52, 15, 120, 90, 149, 148, 7, 142, 98, 140, 56, 40, 97, 39, 124, 49, 50, 5, 10, 122, 35, 104, 57, 134, 69, 46, 91, 26, 23, 38, 129, 34, 41, 68, 116, 47, 29, 28, 78, 87, 84, 143, 118, 114, 108, 110, 33, 145, 113, 80, 144, 32, 51, 123, 58, 2, 19, 59, 4, 137, 71, 63, 73, 77, 9, 130, 81, 75, 117, 112, 3, 25, 0, 12, 14, 16, 141, 53, 133, 65, 60, 24, 20, 146, 18, 13, 86, 93, 132, 76, 127, 70, 44, 83, 62]
[15, 18, 10, 21, 13, 16, 17, 22, 20, 27, 26, 6, 23, 1, 8, 4, 11, 3, 14, 28, 2, 25, 9, 12, 7, 24, 0, 5, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416]
[3, 47, 12, 31, 10, 16, 2, 46, 14, 11, 21, 38, 20, 30, 42, 45, 27, 43, 0, 22, 15, 17, 6, 36, 19, 7, 18, 13, 24, 8, 37, 32, 26, 5, 29, 44, 41, 23, 25, 28, 39, 33, 40, 1, 34, 9, 4, 35]